* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_bgc: #8bd45e;
    --color_acc: #c61313;
    --color_pri: #003049;
    --size-font: 26px;
    --style-font: 'BlinkMacSystemFont, Helvetica Neue, Roboto, sans-serif';
}

body {
    font-size: var(--size-font);
    font-family: var(--style-font);
    background-color: var(--color_bgc);
}