@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_bgc: #212121;
    --color_acc: #e2e2e2;
    --color_pri: #ffffff;
    --size-font: 26px;
    --style-font: 'Ubuntu', 'Foldit';
}

body {
    font-size: var(--size-font);
    font-family: var(--style-font);
    background-color: var(--color_bgc);
    padding: 20px;
    color: var(--color_pri);
}

header h2 {
    font-size: 40px;
    text-transform: capitalize;
    border: 1px solid black;
}

h3 {
    font-size: 26px;
}